#shapeCont {
    height: 600px;
    width: 600px;
    background-color: lightgrey;
    margin: 10px;
    position: relative;
}

#sidepanel {
    background-color: #eead90;
    right: 0;
    top: 140px;
    position: absolute;
    height: 600px;
    width: 50%;
}

#CircleShape {
    border-radius: 100%;
}

#TriangleShape {
    height: 0;
    width: 0;
    border-bottom: solid yellow;
    border-right: solid transparent;
}

p {
    font-size: x-large;
    font-family: serif;
    font-style: italic;
    padding-left: 10px;
    margin: 55px;
}

body {
    background-color: darkslategray;
}
